.cover, .page2, .page3, .page4 {
  width: 100%;
  background-size: cover;
  background-position: center;
}

.cover {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover > h1 {
  text-align: center;
  color: #F7C362;
  font-size: 20px;
  line-height: 100%;
}

.cover > h2 {
  color: #F7C362;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  font-weight: normal;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.cover > button {
  border: 1px solid #F7C362;
  background-color: transparent;
  color: #F7C362;
  padding: 12px 20px;
  margin: auto;
  display: block;
  font-size: 12px;
  letter-spacing: 2px;
}

.cover .name_container {
  flex-grow: 1;
  margin: 50px auto;
  display: flex;
  align-items: center;
}

.cover .name {
  position: relative;
  width: 226px;
}

.cover .name span, .cover .name h1, .cover .name h2 {
  position: absolute;
}

.cover .name span {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #FFA60040;
  font-size: 96px;
}

.cover .name h1, .cover .name h2 {
  font-size: 96px;
  line-height: 100%;
  color: #fff;
  font-weight: normal;
}

.cover .name h1 {
  left: -10px;
  top: 20px;
}

.cover .name h2 {
  right: 5px;
  bottom: 60px;
}

.page1, .page3 {
  background-color: #F8F3EA;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.page1 .image1, .page1 .image2 {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.page1 .image1 {
  top: -150px;
  width: 80px;
}

.page1 .image2 {
  bottom: -80px;
  width: 100px;
}

.page1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page1 h1 {
  font-size: 16px;
  line-height: 200%;
  font-weight: normal;
  text-align: center;
}

.page1 h2 {
  font-size: 36px;
  line-height: 100%;
  font-weight: normal;
  text-align: center;
  color: #BC8A2E;
}

.page1 h3 {
  font-size: 20px;
  line-height: 100%;
  font-weight: normal;
  text-align: center;
  margin: 20px 0;
  color: #BC8A2E;
}

.page1 .name {
  margin: 32px 0;
}

.page2 {
  padding: 62px 48px;
}

.event {
  margin-bottom: 48px;
}

.event h1 {
  color: #F7C362;
  font-size: 24px;
  line-height: 100%;
  font-weight: normal;
  margin-bottom: 24px;
}

.event h2 {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  line-height: 100%;
  margin-bottom: 12px;
}

.event h3 {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  line-height: 120%;
  margin-bottom: 12px;
}

.event a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  padding: 2px 2px 4px 2px;
  display: flex;
  width: fit-content;
  gap: 8px;
  font-size: 15px;
  align-items: center;
  margin-left: auto;
}

.event a svg {
  font-size: 12px;
}

.page2 h4 {
  color: #F7C362;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

.page3 {
  padding: 32px;
}

.page4 {
  display: flex;
  align-items: center;
  padding: 42px;
}

.page4 > div{
  text-align: center;
  width: 100%;
}

.page4 h1 {
  color: #fff;
  line-height: 110%;
  font-weight: normal;
  font-size: 22px;
  margin-bottom: 72px;
}

.page4 h2 {
  color: #fff;
  line-height: 110%;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 12px;
}

.page4 h3 {
  color: #F7C362;
  line-height: 110%;
  font-weight: normal;
  font-size: 32px;
  margin-bottom: 12px;
}