.floral {
  position: relative;
  width: 200px;
  height: 200px;
}

.floral > img {
  display: block;
  position: absolute;
  transform: scale(0.6);
}

.floral_1 {
  left: -10px;
  top: -10px;
  z-index: 1;
  transform-origin: top left;
}

.floral_2 {
  left: -20px;
  top: -20px;
  transform-origin: top left;
}
