.floral {
  position: relative;
  width: 200px;
  height: 200px;
}

.floral > img {
  display: block;
  position: absolute;
}

.floral_1 {
  right: 0;
  bottom: 0;
  z-index: 1;
}

.floral_2 {
  right: -60px;
  bottom: 20px;
  transform-origin: bottom center;
}

.floral_3 {
  right: 40px;
  bottom: -50px;
  transform-origin: right center;
}
