* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  overflow-x: hidden;
}

main {
  min-height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

details summary::-webkit-details-marker {
  display:none;
}

details summary {
  list-style: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;