* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, main {
  height: 100%;
}

body {
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;