.cover, .page1 {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.cover > img, .page1 > img {
  position: absolute;
  display: block;
  max-width: unset;
  object-fit: cover;
}

.cover .groom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
  height: 360px;
}

.cover .groom::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-color: #fff;
  border-style: solid;
  border-width: 0;
  border-left-width: 2px;
  border-right-width: 2px;
  border-top-width: 2px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.cover .groom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-image: linear-gradient(180deg, #ffffff00, #fff);
}

.button_container {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #C3826060;
  padding: 30px;
  border-top-left-radius: 60px;
}

.button_container button {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 22px;
  border: 2px solid #669A80;
  border-radius: 8px;
  background-image: linear-gradient(#669A80, #A2C0B1, #669A80);
  color: #fff;
  font-size: 18px;
  box-shadow: 2px 4px 4px 2px #2c3d3590;
}

.button_container button svg {
  width: 18px;
  height: 18px;
}

.name_container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background-image: linear-gradient(#C38260, #669A80);
  width: 140px;
  height: 100px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name_container::after {
  content: "";
  position: absolute;
  top: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  border-bottom-left-radius: 65px;
  border-bottom-right-radius: 65px;
  border-style: solid;
  border-color: #fff;
  border-width: 0;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}

.name_container h1, .name_container h2 {
  text-align: center;
  color: #fff;
  font-weight: normal;
}

.name_container h1 {
  font-size: 32px;
  margin-bottom: 5px;
}

.name_container h2 {
  font-size: 16px;
  letter-spacing: 1px;
}

.preface {
  background-image: linear-gradient(#3B634F, #669A80, #3B634F);
  padding: 120px 20px;
  width: 260px;
  border-radius: 120px;
}

.gradient_border {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.gradient_border::before {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 125px;
  z-index: -1;
  background: linear-gradient(#994A20, #F0BD60, #FFFFFF, #F0BD60, #994A20);
}

.gradient_border > img {
  position: absolute;
}

.gradient_border .border_decoration_left {
  width: 200px;
  z-index: -2;
  left: -60px;
  top: -40px;
}

.gradient_border .border_decoration_right {
  width: 200px;
  z-index: -2;
  right: -60px;
  bottom: -40px;
}

.preface p {
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}

.page2 {
  width: 100%;
  overflow: hidden;
  background: linear-gradient(#fff 0%, #FFEFDD 20%, #FFEFDD 80%, #fff 100%);
  position: relative;
}

.top_decoration {
  position: absolute;
  width: 120%;
  max-width: unset;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
}


.bottom_decoration {
  position: absolute;
  width: 120%;
  max-width: unset;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;
}

.page2_content {
  padding: 130px 20px;
}

.page2 h1 {
  color: #994A20;
  text-align: center;
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 48px;
}

.person_image {
  position: relative;
  width: 200px;
  height: 230px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.person_image_border {
  position: absolute;
  width: 120%;
  max-width: unset;
  left: 50%;
  transform: translateX(-50%);
}

.person_image_groom {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.person h2{
  text-align: center;
  color: #994A20;
  font-weight: normal;
  font-size: 32px;
}

.person_divider {
  margin: 68px auto;
  position: relative;
  display: flex;
  width: fit-content;
}

.person_divider h3 {
  text-align: center;
  color: #669A80;
  font-weight: normal;
  font-size: 32px;
}

.divider_left, .divider_right {
  position: absolute;
  width: 160px;
  max-width: unset;
  bottom: 10px;
}

.divider_left {
  right: calc(100% + 10px);
}

.divider_right {
  transform: rotateY(180deg);
  left: calc(100% + 5px);
}

.page3 {
  width: 100%;
  overflow: hidden;
  background: linear-gradient(#FFEFDD 0%, #669A80 20%, #669A80 80%, #FFEFDD 100%);
  position: relative;
}

.page3 h1 {
  text-align: center;
  font-weight: normal;
  color: #994A20;
  margin-bottom: 32px;
  margin-top: 32px;
}

.page3 .countdown {
  max-width: 420px;
  margin: 0 auto;
  padding: 20px;
}

.events {
  padding: 120px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 120px;
}

.event_decoration {
  position: relative;
}

.event {
  padding: 52px 32px 72px;
  background-color: #FFEFDD;
  position: relative;
  border-radius: 70px;
  border: 4px solid #F0BD60;
  z-index: 1;
  overflow: hidden;
}

.event_decoration > img {
  position: absolute;
  z-index: 1;
}

.event_decoration_left {
  width: 160px;
  left: -50px;
  top: -40px;
}

.event_decoration_right {
  width: 160px;
  right: -50px;
  bottom: -40px;
}

.event h2 {
  font-weight: normal;
  text-align: center;
  color: #669A80;
  font-size: 32px;
  margin-bottom: 32px;
}

.event h3 {
  font-weight: normal;
  text-align: center;
  color: #994A20;
  font-size: 28px;
  margin-bottom: 5px;
}

.event h4 {
  font-weight: normal;
  text-align: center;
  color: #994A20;
  font-size: 18px;
  margin-bottom: 32px;
}

.event h5 {
  font-weight: normal;
  text-align: center;
  color: #994A20;
  font-size: 18px;
}

.event_action {
  position: absolute;
  bottom: 0;
  right: 0;
}

.event_action a {
  color: #fff;
  text-decoration: none;
  padding: 8px 48px 8px 18px;
  display: block;
  background-color: #669A80;
  border-top-left-radius: 28px;
}

.event_action a > span {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 2px;
  border-bottom: 1px solid #fff;
}

.page4 {
  padding: 120px 32px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.page5 {
  padding: 120px 12px;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: linear-gradient(#FFEFDD 0%, #669A80 20%, #669A80 80%, #FFEFDD 100%);
}

.page5 h1 {
  text-align: center;
  color: #994A20;
  font-weight: normal;
  font-size: 32px;
}

.page6 {
  width: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.page6 h1 {
  text-align: center;
  font-weight: normal;
  line-height: 120%;
  color: #994A20;
  font-size: 32px;
  margin-bottom: 48px;
}

.page6 h2 {
  text-align: center;
  font-weight: normal;
  line-height: 100%;
  color: #994A20;
  margin-bottom: 10px;
  font-size: 24px;
}

.page6 h3 {
  text-align: center;
  font-weight: normal;
  line-height: 100%;
  color: #994A20;
  margin-bottom: 10px;
  font-size: 32px;
}

.page6_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page6_content {
  position: relative;
  z-index: 1;
}

.image_mask {
  width: 120px;
  height: 120px;
  margin: auto;
  position: relative;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 120px;
  mask-position: center center;
}

.image_mask img {
  position: absolute;
  width: 140%;
  height: 140%;
  object-fit: cover;
}