.box {
  border: 2px solid #fff;
  border-radius: 0 20px 0 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.box .content {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 80px 20px;
}

.floral_1 {
  position: absolute;
  bottom: -20px;
  right: -20px;
}

.floral_2 {
  position: absolute;
  top: -20px;
  left: -20px;
}