.floral {
  position: relative;
  width: 200px;
  height: 200px;
}

.floral > img {
  display: block;
  position: absolute;
}

.floral_1 {
  left: -30px;
  top: -30px;
  z-index: 1;
  animation: show 1s ease-in forwards, spin 4s ease 0s infinite alternate;
  transform-origin: top left;
}

.floral_2 {
  left: -50px;
  top: -40px;
  animation: show 2s ease-in 0s forwards, wave 3s ease 0s infinite alternate;
  transform-origin: top left;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(-5deg);
  }

  to {
    transform: rotate(5deg);
  }
}

@keyframes wave {
  from {
    transform: rotate(-5deg);
  }

  to {
    transform: rotate(5deg);
  }
}