.box {
  padding: 40px 20px;
  flex-grow: 1;
  display: flex;
}

.cover, .page1, .page2 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cover h1 {
  text-align: center;
  font-size: 18px;
  color: #647440;
  letter-spacing: 3px;
  margin-bottom: 18px;
}

.cover h4 {
  color: #647440;
  text-align: center;
  margin: 20px 0px;
  font-size: 16px;
}

.cover .image {
  position: relative;
}

.cover .image img {
  display: block;
  width: 140px;
  height: 140px;
  object-fit: cover;
  margin: auto;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 4px 4px 0px #647440;
}

.cover .button {
  border: none;
  padding: 12px 18px;
  background-color: #9fb966;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  border-radius: 5px;
  box-shadow: 4px 4px 0px #647440;
  cursor: pointer;
  display: block;
  margin: auto;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

.cover .title {
  display: flex;
  margin: 20px 0;
}

.cover .title h3 {
  color: #9fb966;
  text-align: center;
  margin: 20px 0px;
  font-size: 62px;
  letter-spacing: 2px;
  line-height: 90%;
  transform: rotate(-5deg);
}

.cover .title .content {
  position: relative;
  width: 100px;
  flex-grow: 1;
}

.cover .title .decoration {
  position: absolute;
  right: -30px;
  top: -20px;
  width: 70px;
  transform: rotate(40deg);
}

.page1 h1 {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.page1 h2 {
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.page1 h3 {
  font-size: 64px;
  margin: 50px 0;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  line-height: 100%;
  transform: rotate(-5deg);
}

.page1 h4 {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 10px;
}

.page1 .title {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.page1 .title .content {
  position: relative;
  flex-basis: 10px;
}

.page1 .title .decoration img{
  position: absolute;
}

.page1 .title .decoration img:nth-child(1){
  left: -30px;
  top: 10px;
  width: 50px;
  transform: rotate(-10deg);
}

.page1 .title .decoration img:nth-child(2){
  right: -40px;
  bottom: 10px;
  width: 30px;
  transform: rotate(10deg);
}

.countdown {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.countdown > div {
  background-color: #c3dc8e;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  border: 2px solid #647440;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.countdown > div span:nth-child(1) {
  color: #647440;
  font-size: 28px;
  line-height: 100%;
}

.countdown > div span:nth-child(2) {
  color: #647440;
  font-size: 14px;
  line-height: 100%;
}

.page2 h1 {
  text-align: center;
  color: #647440;
  margin-bottom: 20px;
}

.page2 .detail {
  background-color: #c3dc8e;
  padding: 20px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.page2 .detail > div {
  display: flex;
  gap: 10px;
}

.page2 .detail > div span:first-child {
  color: #647440;
  font-size: 18px;
}

.page2 .detail > div span:nth-child(2) {
  color: #647440;
  font-size: 16px;
}

.page2 .location {
  display: block;
  text-align: center;
  background-color: #647440;
  border-radius: 5px;
  width: fit-content;
  margin: 20px auto;
  padding: 10px 12px;
  border: 2px solid #fff;
  box-shadow: 4px 4px 0px #647440;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}